.shadow {
  box-shadow: 0px 5px 10px black;
}

section {
  min-height: fit-content;
  padding: 30px 0 30px 0;
  background-color: var(--background-grey);
  /* box-shadow: 0px 5px 10px black; */
  /* border: 5px solid black; */
}

.main-event {
  position: relative;
  background: transparent;
  color: var(--white);
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: translate(-50%, -50%);
  z-index: 0;
  /* background: radial-gradient(#bec4cc 80%, #212529); */
  background: linear-gradient(
    90deg,
    #212529,
    #bec4cc 10%,
    #bec4cc 90%,
    #212529
  );
}

.main-title {
  background: var(--background-grey);
  /* background: #212529; */
}

.row-quote-1 {
  z-index: 999 !important;
}

.row-quote-2 {
}

.splash-quote {
  padding: 10px;
  display: inline-block;
  min-height: 130px;
  /* border: 3px solid black; */
  box-shadow: 0px 0px 10px rgb(53, 53, 53);
  border-radius: 20px;
  background: rgb(53, 91, 122);
  /* background: rgb(53, 91, 122); */
  /* background: rgb(78, 89, 99); */
  z-index: 999;
}

.splash-quote:hover {
}

.splash-title {
  /* text-decoration: underline;
  text-decoration-color: rgb(100, 100, 168); */
  border-bottom: 3px double rgb(211, 211, 224);
}

.splash-pic {
  width: 100%;
}

/* Profile sect */

.profile-sect {
  background-image: url("./Imgs/blue-traces4.jpg");
  background-size: cover;
  /* background-position: center; */
  color: var(--white);
  background-repeat: no-repeat;
  width: 100%;
}

.about-text {
  border-radius: 10px;
  border: 3px solid var(--blue);
  box-shadow: 0px 0px 20px var(--blue);
  /* border-left: 5px double steelblue;
  border-right: 5px double steelblue; */
  /* background: radial-gradient(rgb(1, 38, 68), steelblue); */
  background: radial-gradient(rgb(1, 38, 68), rgb(30, 96, 150));
  /* background: steelblue; */
}

.magic {
  animation: background-pan 3s linear infinite;
  /* background: linear-gradient(to right, #4682b4 50%, #3157c2); */
  background: linear-gradient(to right, #ffffff 50%, #3157c2);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.contact-btn {
  border-radius: 20px;
  background: rgb(78, 89, 99);
  border: 3px solid silver;
  color: white;
}

.contact-btn:hover {
  background: transparent;
}

.about-btn {
  background: transparent;
  border-radius: 20px;
  border: 3px solid silver;
  color: white;
}

.about-btn:hover {
  background: rgb(78, 89, 99);
}

.profile-pic {
  width: 250px;
  border-radius: 180px 180px 180px 180px;
  /* border-radius: 46% 54% 75% 25% / 57% 74% 26% 43%; */
  background: radial-gradient(var(--blue), rgba(61, 60, 60, 0.747) 70%);
  box-shadow: 0 0 10px var(--blue);
}

.profile-pic-2 {
  width: 450px;
  /* overflow: visible; */
  border-radius: 46% 54% 75% 25% / 57% 74% 26% 43%;
  background: radial-gradient(var(--blue), rgb(1, 38, 68));
}

.profile-text {
  font-size: 18px;
}

/* Project Sect */

.project-sect {
  /* background-color: #0d1323; */
  color: var(--white);
  background-color: var(--background-grey);
  /* background-color: #181c20; */
}

.card {
  display: inline-block;
  background-color: transparent;
  min-height: 550px;
  box-shadow: 0px 0px 10px black;
  margin: 0 10px 0 10px;
  padding: 10px;
  cursor: pointer;
  transition: box-shadow 0.5s ease;
  text-decoration: none;
}

.card1:hover,
.card2:hover,
.card3:hover {
  box-shadow: 0px 0px 20px var(--blue);
}

.project-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

.card-text {
  min-height: 250px;
  color: var(--white);
  text-decoration: none;
}

a {
  text-decoration: none;
}
