#blob {
  background: linear-gradient(to right, #294046, steelblue);
  filter: blur(100px);
  height: 120px;
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  animation: rotate 20s infinite;
  z-index: 0;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

.shadow {
  box-shadow: 0px 5px 10px black;
}

section {
  min-height: 600px;
  padding: 30px 0 30px 0;
  background-color: #212529;
  /* box-shadow: 0px 5px 10px black; */
  /* border: 5px solid black; */
}

.main-event {
  position: relative;
  background: transparent;
}

.background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: radial-gradient(#bec4cc 80%, #212529);
  /* background: linear-gradient(90deg, #212529, #bec4cc, #212529); */
}

.main-title {
  background: #212529;
}

.row-quote-1 {
}

.row-quote-2 {
}

.splash-quote {
  padding: 10px;
  display: inline-block;
  border: 3px solid black;
  border-radius: 20px;
  color: beige;
  /* background: rgba(61, 60, 60, 0.747); */
  background: rgb(78, 89, 99);
  z-index: 1000;
}

.splash-quote:hover {
}

.splash-pic {
  width: 100%;
}

/* Profile sect */

.profile-sect {
  background-image: url("./Imgs/blue-traces4.jpg");
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  width: 100%;
}

.about-text {
  border-radius: 10px;
  box-shadow: 0px 0px 20px steelblue;
  /* border-left: 5px double steelblue;
  border-right: 5px double steelblue; */
  background: rgb(1, 38, 68);
}

.magic {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(to right, #4682b4 50%, #3157c2);
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.contact-btn {
  border-radius: 20px;
  background: rgb(78, 89, 99);
}

.contact-btn:hover {
  background: transparent;
}

.about-btn {
  background: transparent;
  border-radius: 20px;
}

.about-btn:hover {
  background: rgb(78, 89, 99);
}

.profile-pic {
  width: 250px;
  border-radius: 180px 180px 180px 180px;
  /* border-radius: 46% 54% 75% 25% / 57% 74% 26% 43%; */
  background: radial-gradient(steelblue, rgba(61, 60, 60, 0.747) 70%);
  /* background: steelblue; */
  box-shadow: 0 0 10px steelblue;
}

.profile-pic-2 {
  width: 450px;
  border-radius: 180px 180px 180px 180px;
  /* border-radius: 46% 54% 75% 25% / 57% 74% 26% 43%; */
  /* background: radial-gradient(steelblue, rgba(61, 60, 60, 0.747) 70%); */
  background: radial-gradient(steelblue, #212529 70%);
  /* background: steelblue; */
  /* box-shadow: 0 0 10px steelblue; */
}

.profile-text {
  font-size: 18px;
}

/* Project Sect */

.project-sect {
  background-color: #181c20;
}

.card {
  display: inline-block;
  background-color: transparent;
  min-height: 550px;
  box-shadow: 0px 0px 10px black;
  margin: 0 10px 0 10px;
  padding: 10px;
  cursor: pointer;
  transition: box-shadow 0.5s ease;
}

.card1:hover,
.card2:hover,
.card3:hover {
  box-shadow: 0px 0px 20px steelblue;
}

.project-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

.card-text {
  min-height: 250px;
}

/* Contact Sect */

.contact-sect {
  max-height: fit-content;
  min-height: 100px;
  background-color: #101113;
}

.contact-bubble {
  /* border: 5px solid grey; */
  min-height: 100px;
  border-radius: 50px;
  /* background: rgb(78, 89, 99); */
  /* box-shadow: 0px 0px 15px black; */
}

.contact-left {
  /* background-color: #fdfdf3; */
}

.contact-logo {
  border-radius: 50px;
  width: 200px;
}

.contact-slogan {
  color: black;
  font-weight: bold;
}

.contact-right {
  text-align: left;
}

.media-link {
  transition: box-shadow 0.5s ease;
}

.media-link:hover {
  box-shadow: 0px 0px 20px steelblue;
}

.border-shadow-1 {
  border-radius: 50%;
}

.border-shadow-2 {
  border-radius: 20%;
}
