section {
  min-height: 600px;
  background: linear-gradient(transparent, darkgrey);
  border: 5px solid black;
}

.main-event {
  position: relative;
}

.row-quote-1 {
}

.row-quote-2 {
}

.splash-quote {
  display: inline-block;
}

/* Profile sect */
.profile-pic {
  width: 250px;
  border-radius: 50%;
}

.profile-text {
  font-size: 18px;
}

/* Project Sect */

.card {
  display: inline-block;
  background-color: transparent;
}

.project-img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}
