.activity-h1 {
  color: var(--white);
}

.activity-splash {
  display: flex;
}

.main-splash {
}

/* .activity-imgs {
  max-width: 800px;
} */

.list-splash {
  display: inline-block;
  color: var(--white);
}

.no-bullets {
  list-style-type: none;
  text-align: left;
}

.splash-list-item {
  padding: 10px;
  border-radius: 10px;
  transition: box-shadow 0.5s ease;
}

.splash-list-item:hover {
  /* background-color: #181c20; */
  box-shadow: 0px 0px 10px var(--blue);
  color: var(--blue);
}

.list-title {
  font-size: 35px;
  font-weight: bold;
}

.list-date {
  color: var(--blue);
}

.activity-divider {
  /* margin-top: 30px; */
  border: solid 1px black;
}

.activity-sect {
  flex-direction: column;
}

.activity-entry {
  box-shadow: 0 0 20px var(--blue);
  border-radius: 20px;
}

.activity-entries {
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.activity-img {
  width: 35%;
  height: 280px;
  object-fit: contain;
}

.vertical-divider {
  width: 5px;
  height: 450px;
  border: 1px solid var(--blue);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--blue);
}

.activity-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.activity-head-text {
  color: var(--white);
  font-size: 40px;
}

.activity-p-text {
  color: var(--white);
  font-size: 18px;
}
