.activity-h1 {
  color: var(--white);
}

.activity-splash {
  display: flex;
}

.list-splash {
  display: inline-block;
  color: var(--white);
}

.no-bullets {
  list-style-type: none;
  text-align: left;
}

.splash-list-item {
  padding: 10px;
  border-radius: 10px;
  transition: box-shadow 0.5s ease;
}

.splash-list-item:hover {
  /* background-color: #181c20; */
  box-shadow: 0px 0px 10px var(--blue);
  color: var(--blue);
}

.list-title {
  font-size: 35px;
  font-weight: bold;
  color: var(--white);
}

.list-date {
  color: var(--blue);
}

.activity-divider {
  /* margin-top: 30px; */
  border: solid 1px black;
}

.activity-sect {
  flex-direction: column;
}

.activity-entry {
  box-shadow: 0 0 20px var(--blue);
  border-radius: 20px;
}

.activity-entries {
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.activity-img {
  width: 35%;
  height: 280px;
  object-fit: contain;
}

.vertical-divider {
  width: 5px;
  height: 450px;
  border: 1px solid var(--blue);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--blue);
}

.horizontal-divider {
  border-radius: 50%;
  box-shadow: 0px 0px 4px var(--blue);
  height: 3px;
}

.activity-horizontal-divider {
  border-radius: 50%;
  box-shadow: 0px 5px 5px var(--blue);
  height: 1px;
}

.activity-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.activity-head-text {
  color: var(--white);
  font-size: 40px;
}

.activity-p-text {
  color: var(--white);
  font-size: 18px;
}

@media (max-width: 1199px) {
  .list-title {
    font-size: 25px;
  }
}

@media (max-width: 991px) {
  .vertical-divider {
    height: 200px;
  }

  .list-title {
    font-size: 28px;
  }

  .activity-head-text {
    font-size: 25px;
  }

  .activity-p-text {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .activity-img {
    width: 90%;
  }
}

@media (max-width: 575px) {
  .list-title {
    font-size: 20px;
  }

  .activity-entry {
    box-shadow: 0 0 0 transparent;
  }

  .activity-img {
    width: 100%;
  }
}
