.background {
  /* background-image: url("Imgs/Blue_Corner_Blob.png"); */
  background: var(--background-grey);
  background-size: contain;
  background-repeat: repeat-y;
}

.blog-body {
  color: var(--white);
}

.blog-container {
  background: radial-gradient(#e9ede7 90%, #212529);
}

.blog-bubble {
  border: 3px solid black;
  max-width: 1200px;
  min-height: 220px;
}
